.container{
    margin: 30px auto;
    width: 500px;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    background-color: rgb(199, 199, 199);
}

.inputFiedls{
    text-align: left;
    margin: 10px;

}

.formContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

.fieldName{
    font-size: 18px;
}

.formContent input{
    background-color: rgb(238, 238, 238);
    height: 30px;
    border: none;
    outline: none;
}

.submitButton{
    height: 35px;
    margin-top: 10px;
    background-color: rgb(47, 141, 248);
    color: white;
    border: none;
    border-radius: 10px;
}

